@use 'sass:map';
@use '../../../base';
@use '../../../abstracts/variables' as v;

/* The indeed list of products */
@mixin products-lists() {
	ul {
		.listagem-linha {
			// * products list
			padding-top: 40px;
			.span3 {
				transition: all 0.3s;
				.listagem-item {
					&::before,
					&::after {
						@extend %default-revert;
					}
					box-shadow: none;
					border: none;
					background-color: none;
					display: flex;
					flex-direction: column;
					@media (max-width: map.get(v.$max-width-media-queries, "mobile")) {
						flex-direction: row;
                    }
                    @media (max-width: map.get(v.$max-width-media-queries, "480")) {
                        flex-direction: column;
                        .imagem-produto {
                            border: none;
                        } 
                    }
					.info-produto {
						all: revert;
						text-align: center;
						padding: 0 10px;
						display: flex;
						flex-direction: column;
						a {
							// * The max-height and min-height should be equal to constraint the amount of text written in 'info-product' box
							max-height: 55px;
							min-height: 55px;
							overflow: hidden;
							margin: 10px 0;
						}
						div:last-child {
							@media (max-width: map.get(v.$max-width-media-queries, "mobile")) {
								display: flex;
                                justify-content: space-evenly;
                                align-items: center;
							}
						}
						> div {
							border-top: v.$default-border-style;
							padding: 15px 0;
							margin-top: 10px;
							.preco-produto {
								padding: 8px 0;
								strong {
                                    font-size: 1.5rem;
                                    color: #799273;
									@extend %price-font;
								}
                            }
                            @media (max-width: map.get(v.$max-width-media-queries, "mobile")) {
                                &::after {
                                    content: "Comprar";
                                    padding: 10px;
                                    color: white;
                                    background-color: #525A72;
                                    border-radius: 7px;
                                    margin-left: 2rem;
                                }
                            }
						}
					}
					.acoes-produto-responsiva {
						display: none !important;
					}
					&:hover {
						outline: none;
						.acoes-produto {
							bottom: 32.6%;
						}
					}
					.acoes-produto {
						border: none;
						padding: 0;
						background-color: transparent;
						position: absolute;
						a {
							padding: 6px 0;
							&::before {
								content: "Comprar";
								position: absolute;
								width: 50%;
								top: -7%;
								left: 20%;
                                background-color: #525A72;
                                color: white;
								margin: 0 10px;
								display: block;
								padding: 10px;
								border-radius: 6px;
							}
						}
					}
				}
				&:hover {
					border-radius: 5px;
					box-shadow: 0px 0px 5px #00000030;
					background-color: #fafafa;
					.info-produto a {
						visibility: hidden;
						@media (max-width: map.get(v.$max-width-media-queries, "mobile")) {
							visibility: visible;
						}
					}
					.imagem-produto {
						img {
							animation-name: product-hover;
							animation-fill-mode: forwards;
							animation-duration: 0.3s;
						}
					}
				}
			}
		}
	}
}
