@use '../../../abstracts/variables' as v;

/* The release section title */
@mixin releases-products() {
	.titulo-categoria {
		all: revert;
		text-align: center;
		padding: 18px 0;
		border-bottom: v.$default-border-style;
		strong {
			display: flex;
			width: 100%;
			height: 50px;
			align-items: center;
			justify-content: center;
			background-color: v.$secondary-site-color;
			font-weight: bold;
			border-radius: 4px;
			color: rgb(53, 53, 53);
			&::before {
				@extend %icon-font;
				content: "\f1bb";
				opacity: 0.3;
				margin-right: 5%;
			}
			&::after {
				@extend %icon-font;
				content: "\f1bb";
				opacity: 0.3;
				margin-left: 5%;
			}
		}
	}
}
