@use '../base/typography' as t;
@use '../components/icon-set';
@use '../base';

@mixin icon-insertion($icon-name, $icon-size: 30px) {
	@extend %#{$icon-name};
	background-size: cover;
	height: #{$icon-size};
    width: #{$icon-size};
    opacity: 0.9;
}

/* Mixin representation of the default-revert placeholder */
@mixin default-revert {
    all: revert;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Mixin representation of the icon-font placeholder */
@mixin icon-font {
    font-family: "FontAwesome-v4";
    font-weight: initial;
    font-style: initial;
    font-size: t.$pseudo-icon-font-size;
}