$main-background-color: #7fbd57;
$default-border-style: 1px solid #0000000f;
$small-theme-width: 980px; // * Global width of the working theme
$small-theme-overall-padding: 20px;
$main-site-color: #deb09e94;
$max-width-media-queries: (
	"968": 968px,
	"mobile": 767px,
);
