$main-font: "Nunito";
$main-font-size: 0.9rem;
$main-background-color: #7fbd57;
$pseudo-icon-font-size: 1.2rem;
$default-border-style: 1px solid #0000000f;
$small-theme-width: 980px; // * Global width of the working theme
$small-theme-overall-padding: 20px;
$max-width-media-queries: (
	"968": 968px,
	"mobile": 767px,
);
