@use '../variables/global';

.barra-inicial {
	line-height: normal;

	.conteiner {
		position: relative;

		.row-fluid {
			*,
			&::before,
			&::after,
			& [class*="span"] {
				all: revert;
			}
			.canais-contato {
				position: absolute;
				top: 92.4px; // Controls position of the ".canais-contato" in relation to ".container". This value should be in px
				right: 0;
				margin: 0;
				width: auto;

				ul {
					@extend %default-revert;
					position: relative;
					list-style: none; // reset
					color: initial; // Controls the text color of ".canais-contato"
					*,
					&::after {
						@extend %default-revert;
                    }
                    
                    i::before {
                        margin-right: 0.5rem;
                    }

					li {
						margin: 0;
						padding: 0;
						color: inherit;

						&.tel-whatsapp {
							position: absolute;
							top: 110.8px; // Controls the position in relation to "ul" tag. This value should be in px
							right: 143.5%;
							width: max-content;
						}

						i {
							@extend %icon-font;
							color: inherit;
						}

						span {
							color: inherit;
							display: flex;
							align-items: center;
						}

						a {
							text-decoration: none;
							color: inherit;
							display: flex;
							align-items: center;
						}
					}
				}
			}
		}
	}
}