@import url(http://fonts.googleapis.com/css2?family=Nunito:wght@400);

$main-font: 'Nunito';
$main-font-size: .8rem;
$main-background-color: #7fbd57; 

%main-font {
    font-family: $main-font;
    font-size: $main-font-size;
    font-weight: 400;
}

%default-revert {
    all:revert;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

%icon-font {
    font-family: "FontAwesome-v4";
    font-weight: initial;
    font-style: initial;
    font-size: 1.5rem;
}