@use 'sass:map';
@use '../../../abstracts/variables' as v;
@use '../../../abstracts/mixins' as m;

/* This mixin represents the following group of elements
*    - Search bar
*    - Phone and Whatsapp contacts
*    - Shopping cart
 */
 @mixin header-inferior-fields() {
	.inferior {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		width: 100%;
		align-items: center;
		margin: 5px 0;
		.span8 {
			margin: 0 22px 0 0;
			.atalho-menu {
				margin-left: 15px;
				display: none;
				@include m.icon-insertion("see-more-mobile-icon", 34px);
			}
			@media (max-width: map.get(v.$max-width-media-queries, "mobile")) {
				display: grid;
				margin: 0;
				grid-template-areas:
					"search_bar icon"
					"drop drop";
				.busca {
					grid-row: search_bar;
					grid-column: search_bar-start / drop-end;
					margin-right: 42px;
				}
				a {
					display: block !important; // * reset
					grid-row: icon;
					grid-column: icon;
					align-self: center;
					justify-self: end;
					&::before {
						content: ""; // * reset
						display: none;
					}
				}
				.menu.superior {
					grid-row: drop;
					grid-column: drop;
					display: block;
					margin: auto;
					width: 100%;
					text-align: center;
					grid-template-rows: none; // * reset
					grid-template-columns: none; // * reset
					row-gap: 0; // * reset
					align-self: normal; // * reset
					.nivel-um {
						display: none;
					}
					.nivel-um.active {
						display: flex;
						flex-direction: column;
						li {
							height: 50px;
							display: flex;
							justify-content: center;
						}
						i {
							@include m.default-revert();
							&::before {
								content: "";
							}
						}
						ul {
							display: none;
						}
					}
				}
			}
			button {
				@include m.icon-insertion("search-icon", 25px);
				&::before {
					content: "";
				}
			}
		}
		.span4 {
			justify-self: end;
			a {
				display: flex;
				align-items: center;
				i {
					@include m.icon-insertion("shopping-cart-icon", 35px);
					&::before {
						content: "";
					}
				}
			}
		}
		.busca {
			// * Search bar
			border: v.$default-border-style;
			padding: 0.6rem;
			padding-right: 0.8rem;
			padding-left: 0.8rem;
			border-radius: 5px;
			#form-buscar {
				display: flex;
				align-items: center;
				#auto-complete {
					border: none;
					flex: auto;
					@extend %main-font;
				}
				.icon-search {
					border: none;
					background-color: transparent;
					margin-left: 0.6rem;

					cursor: pointer;
					&::before {
						content: "";
					}
				}
			}
			&:focus-within {
				border: 1.5px solid #379D7D; // ? Temporary value
			}
		}
		@media (max-width: map.get(v.$max-width-media-queries, "968")) {
			grid-template-columns: 1fr auto;
			align-self: end;
		}
		@media (max-width: map.get(v.$max-width-media-queries, "mobile")) {
			display: block; // * reset
		}
	}
}