@use '../../base';

#cabecalho {
	.conteiner {
		display: grid;
		.row-fluid {
			display: grid;
			grid-template-areas: "logo menus";
			grid-template-columns: 0.2fr 1fr;
			*,
			*::before,
			*::after {
				all: revert;
				margin: 0;
				padding: 0;
			}
			.span3 {
				grid-row: logo;
			}
			.conteudo-topo {
				grid-row: menus;
				display: grid;
				align-items: center;
				justify-items: center;
				.superior {
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					width: 100%;
					.acoes-conta {
						display: flex;
						li:first-child {
							flex: auto;
							.icon-list {
								@extend %icon-font;
							}
						}
					}
				}
				.inferior {
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					width: 100%;
					align-items: center;
					.span4 {
						justify-self: end;
					}
				}
				ul {
					list-style: none;
					* {
						display: inline-block;
					}
				}
			}
			a {
				color: initial;
				text-decoration: none;
			}
		}
	}
}
