@use 'sass:map';
@use '../../base';
@use 'body-sub-parts/products-lists' as *;
@use 'body-sub-parts/release-products' as *;
@use '../../abstracts/variables' as v;

body {
	@extend %main-font;
	background-color: initial; // * reset
}

/* List of products section */
#corpo {
	.conteiner {
		.row-fluid {
			margin: 0; // * reset
			#listagemProdutos {
				&.borda-alpha {
					border: none; // * reset
					@include releases-products();
				}
				@include products-lists();
			}
		}
	}
}
