@use '../../base';
@use '../../abstracts/variables' as v;

body {
	@extend %main-font;
	background-color: initial; // * reset
}

/* The release section title */
@mixin releases() {
    .titulo-categoria {
        all: revert;
        text-align: center;
        padding: 10px 0;
        border-bottom: v.$default-border-style;
        strong {
            &::before {
                @extend %icon-font;
                content: "\f1bb";
                opacity: 0.3;
                margin-right: 5%;
            }
            &::after {
                @extend %icon-font;
                content: "\f1bb";
                opacity: 0.3;
                margin-left: 5%;
            }
        }
    }
}
/* The indeed list of products */
@mixin list_of_products() {
    ul {
        .listagem-linha {
            // * products list
            padding-top: 40px;
            .span3 {
                .listagem-item {
                    box-shadow: none;
                    border: none;
                    background-color: none;
                    .info-produto {
                        all: revert;
                        text-align: center;
                        padding: 0 10px;
                        a {
                            // * The max-height and min-height should be equal to constraint the amount of text written in 'info-product' box
                            max-height: 55px;
                            min-height: 55px;
                            overflow: hidden;
                            margin: 10px 0;
                        }
                        > div {
                            border-top: v.$default-border-style;
                            padding: 20px 0;
                            margin: 10px 0;
                            strong {
                                font-size: 1.3rem;
                            }
                        }
                    }
                    &:hover {
                        outline: none;
                        .acoes-produto {
                            bottom: 32.6%;
                        }
                    }
                    .acoes-produto {
                        border: none;
                        padding: 0;
                        background-color: transparent;
                    }
                }
                &:hover {
                    border-radius: 5px;
                    box-shadow: 0px 0px 5px #00000030;
                    background-color: #c4c4c436;
                    .info-produto a {
                        visibility: hidden;
                    }
                    .imagem-produto {
                        img {
                            filter: contrast(0.9) opacity(0.8);
                        }
                    }
                }
            }
        }
    }
}

/* List of products section */
#corpo {
	.conteiner {
		.row-fluid {
			margin: 0; // * reset
			#listagemProdutos {
				&.borda-alpha {
					border: none; // * reset
                    @include releases();
				}
				@include list_of_products();
			}
		}
	}
}
