@use '../../base';
@use '../../abstracts/variables' as v;

@mixin header-superior-fields() {
	.superior {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		width: 100%;
		border-top: v.$default-border-style;
		padding-top: 1.3rem;
		.acoes-conta {
			display: flex;
			li {
				// flex: auto;
				width: 37%;
				display: flex;
				align-items: center;
				&:first-child {
					i::before {
						content: "\f03a";
						height: v.$pseudo-icon-font-size;
					}
				}
				&:nth-child(2) {
					i::before {
						content: "\f007";
						height: v.$pseudo-icon-font-size;
					}
				}
			}
		}
	}
}

@mixin header-inferior-fields() {
	.inferior {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		width: 100%;
		align-items: center;
		.span4 {
			justify-self: end;
			a {
				display: flex;
				align-items: center;
				i::before {
					content: "\f07a";
				}
			}
		}
		.busca {
			border: v.$default-border-style;
			padding: 0.6rem;
			padding-right: 0.8rem;
            padding-left: 0.8rem;
            border-radius: 5px;
			#form-buscar {
				display: flex;
				align-items: center;
				#auto-complete {
					border: none;
					flex: auto;
				}
				.icon-search {
					@extend %icon-font;
					border: none;
					background-color: transparent;
					margin-left: 0.6rem;
					cursor: pointer;
					&::before {
						content: "\f002";
					}
				}
			}
		}
	}
}

@mixin superior-menu-levels() {
	.nivel-um {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		height: 50px;
        text-align: center;
        border-top: v.$default-border-style;
		li {
			height: inherit;
			flex: auto;
			position: relative;
			a {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&:nth-child(2n) {
				display: flex;
				justify-content: center;
				@extend %icon-font;
				&::before,
				&::after {
					content: "\f06c";
                    margin: auto 0;
                    opacity: 0.3;
				}
				&::before {
					margin-right: auto;
				}
				&::after {
					margin-left: auto;
				}
				strong {
					@extend %main-font;
				}
			}
            &:hover {
                a + ul.nivel-dois {
                    display: block;
                }
            }
		}
		.nivel-dois.borda-alpha {
			*,
			*::before,
			*::after {
				@extend %default-revert;
				text-decoration: none;
				list-style: none;
				color: initial;
			}
			display: none;
			position: absolute;
			top: 100%;
			left: 50%;
			width: 65%;
			background-color: white; // * Temporary setting
			transform: translateX(-50%);
			box-shadow: 1px 3px 2px 0px #00000052;
			border-radius: 3px;
			padding: 0 20px;
			border-top: 2px solid;
			li {
				height: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			li:nth-child(2n) {
				border-top: v.$default-border-style;
			}
			a {
				@extend %main-font;
			}
		}
	}
}

@mixin superior-menu() {
	.menu.superior {
		@extend %default-revert;
		z-index: 10;
		*,
		*::before,
		*::after {
			@extend %default-revert;
			text-decoration: none;
			color: initial;
			list-style: none;
		}
		@include superior-menu-levels();
	}
}

#cabecalho {
	.conteiner {
		display: grid;
		.row-fluid {
			display: grid;
			grid-template-areas: "logo menus";
			grid-template-columns: 0.2fr 1fr;
			*,
			*::before,
			*::after {
				all: revert;
				margin: 0;
				padding: 0;
			}
			.span3 {
				grid-row: logo;
				justify-self: center;
				.logo {
					height: 190px;
					* {
						display: inline-block;
						height: inherit;
					}
				}
			}
			.conteudo-topo {
				grid-row: menus;
				display: grid;
				align-items: center;
				justify-items: center;
				@include header-superior-fields();
				@include header-inferior-fields();
				ul {
					list-style: none;
					* {
						display: inline-block;
					}
				}
				i {
					@extend %icon-font;
					margin-right: 0.5rem;
				}
			}
			a {
				color: initial;
				text-decoration: none;
			}
		}
		@include superior-menu();
	}
}
