@use 'sass:map';
@use '../../base';
@use '../../abstracts/variables' as v;
@use '../../base/typography' as t;
@use '../../abstracts/mixins' as m;

/* This mixin represents the following group of elements
*    - Login text
*    - My account
*    - My requests
*    - Talk with us
 */
@mixin header-superior-fields() {
	.superior {
		display: grid;
		grid-template-columns: max-content 1fr;
		align-items: center;
		width: 100%;
		padding-top: 1.3rem;
		.span8 {
			margin: 5px 14px 5px 0;
			width: max-content;
			@media (max-width: map.get(v.$max-width-media-queries, "968")) {
				margin: 5px 0 5px 0;
			}
		}
		.acoes-conta {
			display: flex;
			width: max-content;
			li {
				display: flex;
				align-items: center;
				flex: auto;
				&:first-child {
					margin-right: 0.7em;
					i {
						@include m.icon-insertion("my-requests-icon", 35px);
						&::before {
							content: "";
						}
					}
				}
				&:nth-child(2) {
					i {
						@include m.icon-insertion("my-account-icon", 35px);
						&::before {
							content: "";
						}
					}
				}
			}
		}
		@media (max-width: map.get(v.$max-width-media-queries, "968")) {
			grid-template-rows: repeat(2, 1fr);
			grid-template-columns: none;
			justify-items: end;
			padding-top: 0.7rem;
			align-self: start;
			row-gap: 10px;
		}
	}
}

/* This mixin represents the following group of elements
*    - Search bar
*    - Phone and Whatsapp contacts
*    - Shopping cart
 */
@mixin header-inferior-fields() {
	.inferior {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		width: 100%;
		align-items: center;
		margin: 5px 0;
		.span8 {
			margin: 0 22px 0 0;
			a {
				margin-left: 15px;
			}
			@media (max-width: map.get(v.$max-width-media-queries, "mobile")) {
				display: grid;
				margin: 0;
				grid-template-areas:
					"search_bar icon"
					"drop drop";
				.busca {
					grid-row: search_bar;
					grid-column: search_bar-start / drop-end;
					margin-right: 30px;
				}
				a {
					display: block !important; // * reset;
					grid-row: icon;
					grid-column: icon;
					align-self: center;
					justify-self: end;
				}
				.menu.superior {
					grid-row: drop;
					grid-column: drop;
					display: block;
					margin: auto;
					width: max-content;
					grid-template-rows: none; // * reset
					grid-template-columns: none; // * reset
					row-gap: 0; // * reset
                    align-self: normal; // * reset
                    .nivel-um {
                        display: none;
                    }
					.nivel-um.active {
						display: flex;
						flex-direction: column;
						ul {
							display: none;
						}
					}
				}
			}
			button {
				@include m.icon-insertion("search-icon", 25px);
				&::before {
					content: "";
				}
			}
		}
		.span4 {
			justify-self: end;
			a {
				display: flex;
				align-items: center;
				i {
					@include m.icon-insertion("shopping-cart-icon", 35px);
					&::before {
						content: "";
					}
				}
			}
		}
		.busca {
			// * Search bar
			border: v.$default-border-style;
			padding: 0.6rem;
			padding-right: 0.8rem;
			padding-left: 0.8rem;
			border-radius: 5px;
			#form-buscar {
				display: flex;
				align-items: center;
				#auto-complete {
					border: none;
					flex: auto;
					@extend %main-font;
				}
				.icon-search {
					border: none;
					background-color: transparent;
					margin-left: 0.6rem;

					cursor: pointer;
					&::before {
						content: "";
					}
				}
			}
			&:focus-within {
				border: 1.5px solid bisque; // ? Temporary value
			}
		}
		@media (max-width: map.get(v.$max-width-media-queries, "968")) {
			grid-template-columns: 1fr auto;
			align-self: end;
		}
		@media (max-width: map.get(v.$max-width-media-queries, "mobile")) {
			display: block; // * reset
		}
	}
}

/* This mixin represents the following group of elements
*   - Categories menu level one
*   - Categories menu level two
    This mixin is a sub mixin of the 'superior-menu'
 */
@mixin superior-menu-levels() {
	.nivel-um {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		text-align: center;
		border-top: v.$default-border-style;
		padding: 15px 0;
		li {
			height: 50px;
			flex: auto;
			position: relative;
			transition: font-size 0.2s;
			@media (max-width: map.get(v.$max-width-media-queries, "mobile")) {
				border: v.$default-border-style !important;
				border-radius: 5px !important;
				width: 100%;
				height: 40px;
			}
			a {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				i {
					display: none; // * reset
				}
			}
			&:nth-child(2n) {
				display: flex;
				justify-content: center;
				@media (max-width: map.get(v.$max-width-media-queries, "mobile")) {
					margin: 5px 0;
				}
				&::before,
				&::after {
                    @include m.icon-font();
					content: "\f06c";
					margin: auto 0;
					opacity: 0.3;
					font-size: 0.9rem;
					@media (max-width: map.get(v.$max-width-media-queries, "mobile")) {
						content: none;
					}
				}
				&::before {
					margin-right: auto;
				}
				&::after {
					margin-left: auto;
				}
				strong {
					font-weight: bold;
				}
			}
			&:hover {
				font-size: 1rem;
				a + ul.nivel-dois {
					display: block;
					@media (max-width: map.get(v.$max-width-media-queries, "mobile")) {
						display: none;
					}
				}
			}
		}
		// * Dropdown menus
		.nivel-dois.borda-alpha {
			*,
			*::before,
			*::after {
				@include m.default-revert();
				text-decoration: none;
				list-style: none;
				color: inherit;
            }
            z-index: 10;
			animation-name: slide-in;
			animation-duration: 0.2s;
			animation-fill-mode: forwards;
			display: none;
			position: absolute;
			left: 50%;
			width: 65%;
			background-color: white; // ? Temporary setting
			transform: translateX(-50%);
			box-shadow: 1px 3px 2px 0px #00000052;
			border-radius: 3px;
			border-top: 2px solid;
			li {
				height: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				&:hover {
					background-color: #00000008;
				}
			}
			li:nth-child(2n) {
				&::before {
					content: "";
					width: 80%;
					height: 1px;
					background-color: #b9b9b9;
					position: absolute;
					top: -1px;
				}
			}
		}
	}
}

/* This mixin represents the following group of elements
*    - Categories menu group set
 */
@mixin superior-menu() {
	.menu.superior {
		z-index: 10;
		&,
		*,
		&::before,
		&::after {
			@include m.default-revert();
			text-decoration: none;
			color: inherit;
			list-style: none;
		}
		@include superior-menu-levels();
	}
}

/* 
* Main Header Selectors
*/
#cabecalho {
	.conteiner {
		display: grid;
		grid-template-rows: repeat(2, max-content);
		grid-template-columns: 1fr;
		.row-fluid {
			display: grid;
			grid-template-columns: 0.2fr 1fr;
			grid-template-rows: 1fr;
			margin: 20px 0;
			*,
			&::before,
			&::after {
				all: revert;
				margin: 0;
				padding: 0;
			}
			.span3 {
				grid-column: 1 / 2;
				justify-self: center;
				align-self: center;
				@media (max-width: map.get(v.$max-width-media-queries, "mobile")) {
					grid-row: 1 / 2;
					grid-column: 1 / -1;
				}
				.logo {
					height: 190px;
					* {
						display: inline-block;
						height: inherit;
					}
				}
			}
			.conteudo-topo {
				grid-column: 2 / 3;
				display: grid;
				align-items: center;
				justify-items: center;
				grid-template-rows: repeat(2, 1fr);
				@include header-superior-fields();
				@include header-inferior-fields();
				ul {
					list-style: none;
					* {
						display: inline-block;
					}
				}
				i {
					@extend %icon-font;
					margin-right: 0.5rem;
				}
				@media (max-width: map.get(v.$max-width-media-queries, "mobile")) {
					display: block;
					grid-row: 2 / 3;
					grid-column: 1 / -1;
				}
			}
			a {
				color: inherit;
				text-decoration: none;
			}
			@media (max-width: map.get(v.$max-width-media-queries, "mobile")) {
				grid-template-rows: 0.2fr max-content;
				grid-template-columns: 1fr;
			}
		}
		@media (min-width: map.get(v.$max-width-media-queries, "mobile")) {
			@include superior-menu();
		}
	}
}
