@use '../../base';
@use 'sass:map';
@use '../../abstracts/variables' as v;

/* This mixin represents the following group of elements
*    - Login text
*    - My account
*    - My requests
*    - Talk with us
 */
@mixin header-superior-fields() {
	.superior {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		width: 100%;
		border-top: v.$default-border-style;
        padding-top: 1.3rem;
        .span8 {
            margin: 5px 0 5px 10px;
        }
        .acoes-conta {
            display: flex;
            width: max-content;
            li {
                display: flex;
                align-items: center;
                flex: auto;
                &:first-child {
                    margin-right: 17px;
                    i::before {
                        content: "\f03a";
                        height: v.$pseudo-icon-font-size;
                    }
                }
                &:nth-child(2) {
                    i::before {
                        content: "\f007";
                        height: v.$pseudo-icon-font-size;
                    }
                }
            }
        }
        @media (max-width: map.get(v.$max-width-media-queries, "767")) {
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: none;
                justify-items: end;
                padding-top: .7rem;
        }
	}
}

/* This mixin represents the following group of elements
*    - Search bar
*    - Phone and Whatsapp contacts
*    - Purchase basket
 */
@mixin header-inferior-fields() {
	.inferior {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		width: 100%;
        align-items: center;
        .span8 {
            margin: 0 10px;
            @media (max-width: map.get(v.$max-width-media-queries, "767")){
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                div {
                    flex: auto;
                }
            }
        }
		.span4 {
			justify-self: end;
			a {
				display: flex;
				align-items: center;
				i::before {
					content: "\f07a";
				}
			}
		}
		.busca {
			border: v.$default-border-style;
			padding: 0.6rem;
			padding-right: 0.8rem;
			padding-left: 0.8rem;
			border-radius: 5px;
			#form-buscar {
				display: flex;
				align-items: center;
				#auto-complete {
					border: none;
					flex: auto;
				}
				.icon-search {
					@extend %icon-font;
					border: none;
					background-color: transparent;
					margin-left: 0.6rem;
					cursor: pointer;
					&::before {
						content: "\f002";
					}
				}
			}
			&:focus-within {
				border: 1.5px solid bisque; // ? Temporary value
			}
        }
        @media (max-width: map.get(v.$max-width-media-queries, "968")){
            grid-template-columns: 1fr auto;
        }
	}
}

/* This mixin represents the following group of elements
*   - Categories menu level one
*   - Categories menu level two
    This mixin is a sub mixin of the 'superior-menu'
 */
@mixin superior-menu-levels() {
	.nivel-um {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		height: 50px;
		text-align: center;
		border-top: v.$default-border-style;
		li {
			height: inherit;
			flex: auto;
			position: relative;
			a {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&:nth-child(2n) {
				display: flex;
				justify-content: center;
				@extend %icon-font;
				&::before,
				&::after {
					content: "\f06c";
					margin: auto 0;
					opacity: 0.3;
					font-size: 0.9rem;
				}
				&::before {
					margin-right: auto;
				}
				&::after {
					margin-left: auto;
				}
				strong {
					@extend %main-font;
				}
			}
			&:hover {
				a + ul.nivel-dois {
					display: block;
				}
			}
		}
		// * Dropdown menus
		.nivel-dois.borda-alpha {
			*,
			*::before,
			*::after {
				@extend %default-revert;
				text-decoration: none;
				list-style: none;
				color: initial;
			}
			display: none;
			position: absolute;
			top: 100%;
			left: 50%;
			width: 65%;
			background-color: white; // * Temporary setting
			transform: translateX(-50%);
			box-shadow: 1px 3px 2px 0px #00000052;
			border-radius: 3px;
			padding: 0 20px;
			border-top: 2px solid;
			li {
				height: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			li:nth-child(2n) {
				border-top: v.$default-border-style;
			}
			a {
				@extend %main-font;
			}
		}
	}
}

/* This mixin represents the following group of elements
*    - Categories menu group set
 */
@mixin superior-menu() {
	.menu.superior {
		@extend %default-revert;
		z-index: 10;
		*,
		*::before,
		*::after {
			@extend %default-revert;
			text-decoration: none;
			color: initial;
			list-style: none;
		}
		@include superior-menu-levels();
	}
}

/* 
* Main Header Selectors
*/
#cabecalho {
	.conteiner {
		display: grid;
		.row-fluid {
			display: grid;
			grid-template-areas: "logo menus";
			grid-template-columns: 0.2fr 1fr;
			*,
			&::before,
			&::after {
				all: revert;
				margin: 0;
				padding: 0;
			}
			.span3 {
				grid-row: logo;
				justify-self: center;
				.logo {
					height: 190px;
					* {
						display: inline-block;
						height: inherit;
					}
				}
			}
			.conteudo-topo {
				grid-row: menus;
				display: grid;
				align-items: center;
				justify-items: center;
				@include header-superior-fields();
				@include header-inferior-fields();
				ul {
					list-style: none;
					* {
						display: inline-block;
					}
				}
				i {
					@extend %icon-font;
					margin-right: 0.5rem;
                }
                @media (max-width: map.get(v.$max-width-media-queries, "767")){
                    grid-row: none;
                }
			}
			a {
				color: initial;
				text-decoration: none;
            }
            @media (max-width: map.get(v.$max-width-media-queries, "767")){
                grid-template-areas: "logo";
                grid-template-columns: none;
            }
		}
		@include superior-menu();
	}
}
