@use 'sass:map';
@use '../../base';
@use '../../base/typography' as t;
@use '../../abstracts/variables' as v;
@use '../../abstracts/functions' as f;
@use '../../abstracts/mixins' as m;
@use '../../components/icon-set';

@mixin talk_with_us_whatsapp_contacts() {
	.canais-contato {
		// display: none; // !TEMPORARILY HIDDEN SWITCH
		position: absolute;
		/* 
        * Controls position of the "Talk with us" element in relation to ".container". 
        * This value should be in px.
         */
		top: 76.1px;
		right: 2.3%;
		margin: 0;
		width: auto;
		ul {
			@extend %default-revert;
			position: relative;
			list-style: none; // * reset
			color: t.$main-font-color; // * Controls the text color of ".canais-contato"
			*,
			&::after,
			&::before {
				@extend %default-revert;
			}
			li:first-child {
				a:link:hover {
					color: v.$tertiary-site-color;
				}
				i {
					@include m.icon-insertion("talk-with-us-icon");
					margin-right: 0.5rem;
					&::before {
						content: "";
					}
				}
			}
			li {
				margin: 0;
				padding: 0;
				color: inherit;
				&.tel-whatsapp {
					position: absolute;
					/* 
                    * Controls the position in relation to "Whatsapp" element. 
                    * This value should be in px.
                    */
					top: 90.1px;
					right: 120%;
					width: max-content;
					i {
						@include m.icon-insertion("whatsapp-icon", 25px);
						margin-right: 0.5rem;
						&::before {
							content: "";
						}
					}
					@media (max-width: map.get(v.$max-width-media-queries, "968")) {
						top: 0;
					}
				}
				span {
					color: inherit;
					display: flex;
					align-items: center;
				}
				a {
					text-decoration: none;
					color: inherit;
					display: flex;
					align-items: center;
				}
			}
		}
		@media (max-width: map.get(v.$max-width-media-queries, "968")) {
			right: 2.3%;
			top: 139.1px;
		}
	}
}

/* The absolute positioned initial bar */
.barra-inicial {
	line-height: normal;
	height: 6px;
	margin: auto;
	max-width: v.$small-theme-width;
	position: relative;
	background-color: v.$main-site-color;
	.conteiner {
		position: relative;
		.row-fluid {
			*,
			&::before,
			&::after,
			& [class*="span"] {
				all: revert;
			}
			@include talk_with_us_whatsapp_contacts();
		}
	}
	&::before,
	&::after {
		content: "";
		background-color: white; // ? Temporary value;
		display: inline-block;
		position: absolute;
		height: 100%;
		width: v.$small-theme-overall-padding;
		top: 0;
	}
	&::before {
		left: 0;
	}
	&::after {
		right: 0;
	}
}
