@import url(http://fonts.googleapis.com/css2?family=Nunito:wght@400);
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito";
  font-size: 0.8rem;
  font-weight: 400;
}

.barra-inicial .conteiner .row-fluid .canais-contato ul, .barra-inicial .conteiner .row-fluid .canais-contato ul *, .barra-inicial .conteiner .row-fluid .canais-contato ul::after {
  all: revert;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#cabecalho .conteiner .row-fluid i, .barra-inicial .conteiner .row-fluid .canais-contato ul li i {
  font-family: "FontAwesome-v4";
  font-weight: initial;
  font-style: initial;
  font-size: 1.5rem;
}

.barra-inicial {
  line-height: normal;
}
.barra-inicial .conteiner {
  position: relative;
}
.barra-inicial .conteiner .row-fluid *, .barra-inicial .conteiner .row-fluid::before, .barra-inicial .conteiner .row-fluid::after, .barra-inicial .conteiner .row-fluid [class*=span] {
  all: revert;
}
.barra-inicial .conteiner .row-fluid .canais-contato {
  position: absolute;
  top: 92.4px;
  right: 0;
  margin: 0;
  width: auto;
}
.barra-inicial .conteiner .row-fluid .canais-contato ul {
  position: relative;
  list-style: none;
  color: initial;
}
.barra-inicial .conteiner .row-fluid .canais-contato ul i::before {
  margin-right: 0.5rem;
}
.barra-inicial .conteiner .row-fluid .canais-contato ul li {
  margin: 0;
  padding: 0;
  color: inherit;
}
.barra-inicial .conteiner .row-fluid .canais-contato ul li.tel-whatsapp {
  position: absolute;
  top: 110.8px;
  right: 143.5%;
  width: max-content;
}
.barra-inicial .conteiner .row-fluid .canais-contato ul li i {
  color: inherit;
}
.barra-inicial .conteiner .row-fluid .canais-contato ul li span {
  color: inherit;
  display: flex;
  align-items: center;
}
.barra-inicial .conteiner .row-fluid .canais-contato ul li a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

#cabecalho .conteiner .row-fluid * {
  all: revert;
  display: inline-block;
  text-decoration: none;
}
#cabecalho .conteiner .row-fluid {
  display: flex;
}
#cabecalho .conteiner .row-fluid h1.logo {
  margin: 0;
}
#cabecalho .conteiner .row-fluid h1.logo a {
  display: block;
}
#cabecalho .conteiner .row-fluid div.conteudo-topo.span9 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}
#cabecalho .conteiner .row-fluid div.conteudo-topo.span9 * {
  color: initial;
}
#cabecalho .conteiner .row-fluid div.conteudo-topo.span9 [class^=icon-]::before {
  margin-right: 0.5rem;
}
#cabecalho .conteiner .row-fluid div.conteudo-topo.span9 .span8 {
  align-self: center;
}
#cabecalho .conteiner .row-fluid div.conteudo-topo.span9 .span4 {
  align-self: center;
  margin-left: auto;
  width: 50%;
}
#cabecalho .conteiner .row-fluid div.conteudo-topo.span9 .span4 ul:first-of-type {
  margin: 0;
  padding: 0;
  display: flex;
}
#cabecalho .conteiner .row-fluid div.conteudo-topo.span9 .span4 ul:first-of-type li {
  display: flex;
  flex: auto;
  align-items: center;
}
#cabecalho .conteiner .row-fluid div.conteudo-topo.span9 .span4 .carrinho {
  display: flex;
  justify-content: flex-end;
}
#cabecalho .conteiner .row-fluid div.conteudo-topo.span9 .span4 .carrinho a {
  display: flex;
  align-content: center;
}