@charset "UTF-8";
@import url(http://fonts.googleapis.com/css2?family=Nunito:wght@400);
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conteiner-principal .conteiner {
  box-shadow: none;
  padding: 10px 30px;
}

#corpo .conteiner .row-fluid #listagemProdutos.borda-alpha .titulo-categoria strong::before, #corpo .conteiner .row-fluid #listagemProdutos.borda-alpha .titulo-categoria strong::after, #cabecalho .conteiner .row-fluid .conteudo-topo .inferior .span8 a, #cabecalho .conteiner .row-fluid .conteudo-topo .inferior .busca #form-buscar .icon-search, #cabecalho .conteiner .row-fluid .conteudo-topo i, #cabecalho .conteiner .menu.superior .nivel-um li:nth-child(2n), .barra-inicial .conteiner .row-fluid .canais-contato ul li i {
  font-family: "FontAwesome-v4";
  font-weight: initial;
  font-style: initial;
  font-size: 1.2rem;
}

body, #cabecalho .conteiner .menu.superior .nivel-um li:nth-child(2n) strong, #cabecalho .conteiner .menu.superior .nivel-um .nivel-dois.borda-alpha a {
  font-family: "Nunito";
  font-size: 0.9rem;
  font-weight: 400;
}

#rodape .pagamento-selos .row-fluid .span4.selos *, #cabecalho .conteiner .menu.superior, #cabecalho .conteiner .menu.superior *,
#cabecalho .conteiner .menu.superior *::before,
#cabecalho .conteiner .menu.superior *::after, #cabecalho .conteiner .menu.superior .nivel-um .nivel-dois.borda-alpha *,
#cabecalho .conteiner .menu.superior .nivel-um .nivel-dois.borda-alpha *::before,
#cabecalho .conteiner .menu.superior .nivel-um .nivel-dois.borda-alpha *::after, .barra-inicial .conteiner .row-fluid .canais-contato ul, .barra-inicial .conteiner .row-fluid .canais-contato ul *, .barra-inicial .conteiner .row-fluid .canais-contato ul::after {
  all: revert;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* The absolute positioned initial bar */
.barra-inicial {
  line-height: normal;
  height: 4px;
  width: 980px;
  margin: auto;
  width: 920px;
}
.barra-inicial .conteiner {
  position: relative;
}
.barra-inicial .conteiner .row-fluid *, .barra-inicial .conteiner .row-fluid::before, .barra-inicial .conteiner .row-fluid::after, .barra-inicial .conteiner .row-fluid [class*=span] {
  all: revert;
}
.barra-inicial .conteiner .row-fluid .canais-contato {
  position: absolute;
  /* 
  Controls position of the "Talk with us" element in relation to ".container". 
  This value should be in px.
   */
  top: 65.1px;
  left: min(82.9vw, 87.6%);
  margin: 0;
  width: auto;
}
.barra-inicial .conteiner .row-fluid .canais-contato ul {
  position: relative;
  list-style: none;
  color: initial;
}
.barra-inicial .conteiner .row-fluid .canais-contato ul i::before {
  margin-right: 0.5rem;
}
.barra-inicial .conteiner .row-fluid .canais-contato ul li {
  margin: 0;
  padding: 0;
  color: inherit;
}
.barra-inicial .conteiner .row-fluid .canais-contato ul li.tel-whatsapp {
  position: absolute;
  /* 
  Controls the position in relation to "Whatsapp" element. 
  This value should be in px.
  */
  top: 85px;
  right: 120%;
  width: max-content;
}
@media (max-width: 968px) {
  .barra-inicial .conteiner .row-fluid .canais-contato ul li.tel-whatsapp {
    top: 0;
  }
}
.barra-inicial .conteiner .row-fluid .canais-contato ul li i {
  color: inherit;
}
.barra-inicial .conteiner .row-fluid .canais-contato ul li span {
  color: inherit;
  display: flex;
  align-items: center;
}
.barra-inicial .conteiner .row-fluid .canais-contato ul li a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}
@media (max-width: 968px) {
  .barra-inicial .conteiner .row-fluid .canais-contato {
    left: min(83.2vw, 87.6%);
    top: 112.1px;
  }
}
@media (max-width: 954px) {
  .barra-inicial .conteiner .row-fluid .canais-contato {
    left: min(83.9vw, 87.6%);
  }
}
@media (max-width: 932px) {
  .barra-inicial .conteiner .row-fluid .canais-contato {
    left: min(84vw, 87.6%);
  }
}
@media (max-width: 862px) {
  .barra-inicial .conteiner .row-fluid .canais-contato {
    left: min(83.4vw, 87.6%);
  }
}
@media (max-width: 862px) {
  .barra-inicial .conteiner .row-fluid .canais-contato {
    left: min(82.8vw, 87.6%);
  }
}
@media (max-width: 792px) {
  .barra-inicial .conteiner .row-fluid .canais-contato {
    left: min(82vw, 87.6%);
  }
}

/* This mixin represents the following group of elements
*    - Login text
*    - My account
*    - My requests
*    - Talk with us
 */
/* This mixin represents the following group of elements
*    - Search bar
*    - Phone and Whatsapp contacts
*    - Purchase basket
 */
/* This mixin represents the following group of elements
*   - Categories menu level one
*   - Categories menu level two
    This mixin is a sub mixin of the 'superior-menu'
 */
/* This mixin represents the following group of elements
*    - Categories menu group set
 */
/* 
* Main Header Selectors
*/
#cabecalho .conteiner {
  display: grid;
}
#cabecalho .conteiner .row-fluid {
  display: grid;
  grid-template-areas: "logo menus";
  grid-template-columns: 0.2fr 1fr;
}
#cabecalho .conteiner .row-fluid *, #cabecalho .conteiner .row-fluid::before, #cabecalho .conteiner .row-fluid::after {
  all: revert;
  margin: 0;
  padding: 0;
}
#cabecalho .conteiner .row-fluid .span3 {
  grid-row: logo;
  justify-self: center;
}
#cabecalho .conteiner .row-fluid .span3 .logo {
  height: 190px;
}
#cabecalho .conteiner .row-fluid .span3 .logo * {
  display: inline-block;
  height: inherit;
}
#cabecalho .conteiner .row-fluid .conteudo-topo {
  grid-row: menus;
  display: grid;
  align-items: center;
  justify-items: center;
}
#cabecalho .conteiner .row-fluid .conteudo-topo .superior {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  width: 100%;
  border-top: 1px solid #0000000f;
  padding-top: 1.3rem;
}
#cabecalho .conteiner .row-fluid .conteudo-topo .superior .span8 {
  margin: 5px 0 5px 10px;
}
#cabecalho .conteiner .row-fluid .conteudo-topo .superior .acoes-conta {
  display: flex;
  width: max-content;
}
#cabecalho .conteiner .row-fluid .conteudo-topo .superior .acoes-conta li {
  display: flex;
  align-items: center;
  flex: auto;
}
#cabecalho .conteiner .row-fluid .conteudo-topo .superior .acoes-conta li:first-child {
  margin-right: 17px;
}
#cabecalho .conteiner .row-fluid .conteudo-topo .superior .acoes-conta li:first-child i::before {
  content: "";
  height: 1.2rem;
}
#cabecalho .conteiner .row-fluid .conteudo-topo .superior .acoes-conta li:nth-child(2) i::before {
  content: "";
  height: 1.2rem;
}
@media (max-width: 968px) {
  #cabecalho .conteiner .row-fluid .conteudo-topo .superior {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: none;
    justify-items: end;
    padding-top: 0.7rem;
  }
}
#cabecalho .conteiner .row-fluid .conteudo-topo .inferior {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  align-items: center;
}
#cabecalho .conteiner .row-fluid .conteudo-topo .inferior .span8 {
  margin: 0 10px;
}
#cabecalho .conteiner .row-fluid .conteudo-topo .inferior .span8 a {
  margin-left: 15px;
}
@media (max-width: 767px) {
  #cabecalho .conteiner .row-fluid .conteudo-topo .inferior .span8 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 15px 0;
  }
  #cabecalho .conteiner .row-fluid .conteudo-topo .inferior .span8 div {
    flex: auto;
  }
}
#cabecalho .conteiner .row-fluid .conteudo-topo .inferior .span4 {
  justify-self: end;
}
#cabecalho .conteiner .row-fluid .conteudo-topo .inferior .span4 a {
  display: flex;
  align-items: center;
}
#cabecalho .conteiner .row-fluid .conteudo-topo .inferior .span4 a i::before {
  content: "";
}
#cabecalho .conteiner .row-fluid .conteudo-topo .inferior .busca {
  border: 1px solid #0000000f;
  padding: 0.6rem;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  border-radius: 5px;
}
#cabecalho .conteiner .row-fluid .conteudo-topo .inferior .busca #form-buscar {
  display: flex;
  align-items: center;
}
#cabecalho .conteiner .row-fluid .conteudo-topo .inferior .busca #form-buscar #auto-complete {
  border: none;
  flex: auto;
}
#cabecalho .conteiner .row-fluid .conteudo-topo .inferior .busca #form-buscar .icon-search {
  border: none;
  background-color: transparent;
  margin-left: 0.6rem;
  cursor: pointer;
}
#cabecalho .conteiner .row-fluid .conteudo-topo .inferior .busca #form-buscar .icon-search::before {
  content: "";
}
#cabecalho .conteiner .row-fluid .conteudo-topo .inferior .busca:focus-within {
  border: 1.5px solid bisque;
}
@media (max-width: 968px) {
  #cabecalho .conteiner .row-fluid .conteudo-topo .inferior {
    grid-template-columns: 1fr auto;
  }
}
#cabecalho .conteiner .row-fluid .conteudo-topo ul {
  list-style: none;
}
#cabecalho .conteiner .row-fluid .conteudo-topo ul * {
  display: inline-block;
}
#cabecalho .conteiner .row-fluid .conteudo-topo i {
  margin-right: 0.5rem;
}
@media (max-width: 767px) {
  #cabecalho .conteiner .row-fluid .conteudo-topo {
    grid-row: none;
  }
}
#cabecalho .conteiner .row-fluid a {
  color: initial;
  text-decoration: none;
}
@media (max-width: 767px) {
  #cabecalho .conteiner .row-fluid {
    grid-template-areas: "logo";
    grid-template-columns: none;
  }
}
#cabecalho .conteiner .menu.superior {
  z-index: 10;
}
#cabecalho .conteiner .menu.superior *,
#cabecalho .conteiner .menu.superior *::before,
#cabecalho .conteiner .menu.superior *::after {
  text-decoration: none;
  color: initial;
  list-style: none;
}
#cabecalho .conteiner .menu.superior .nivel-um {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  border-top: 1px solid #0000000f;
}
@media (max-width: 767px) {
  #cabecalho .conteiner .menu.superior .nivel-um {
    border: none;
    flex-direction: column;
  }
}
#cabecalho .conteiner .menu.superior .nivel-um li {
  height: 50px;
  flex: auto;
  position: relative;
}
@media (max-width: 767px) {
  #cabecalho .conteiner .menu.superior .nivel-um li {
    border: 1px solid #0000000f !important;
    border-radius: 5px !important;
    width: 100%;
    height: 40px;
  }
}
#cabecalho .conteiner .menu.superior .nivel-um li a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#cabecalho .conteiner .menu.superior .nivel-um li:nth-child(2n) {
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  #cabecalho .conteiner .menu.superior .nivel-um li:nth-child(2n) {
    margin: 5px 0;
  }
}
#cabecalho .conteiner .menu.superior .nivel-um li:nth-child(2n)::before, #cabecalho .conteiner .menu.superior .nivel-um li:nth-child(2n)::after {
  content: "";
  margin: auto 0;
  opacity: 0.3;
  font-size: 0.9rem;
}
@media (max-width: 767px) {
  #cabecalho .conteiner .menu.superior .nivel-um li:nth-child(2n)::before, #cabecalho .conteiner .menu.superior .nivel-um li:nth-child(2n)::after {
    content: none;
  }
}
#cabecalho .conteiner .menu.superior .nivel-um li:nth-child(2n)::before {
  margin-right: auto;
}
#cabecalho .conteiner .menu.superior .nivel-um li:nth-child(2n)::after {
  margin-left: auto;
}
#cabecalho .conteiner .menu.superior .nivel-um li:hover a + ul.nivel-dois {
  display: block;
}
#cabecalho .conteiner .menu.superior .nivel-um .nivel-dois.borda-alpha {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 65%;
  background-color: white;
  transform: translateX(-50%);
  box-shadow: 1px 3px 2px 0px #00000052;
  border-radius: 3px;
  padding: 0 20px;
  border-top: 2px solid;
}
#cabecalho .conteiner .menu.superior .nivel-um .nivel-dois.borda-alpha *,
#cabecalho .conteiner .menu.superior .nivel-um .nivel-dois.borda-alpha *::before,
#cabecalho .conteiner .menu.superior .nivel-um .nivel-dois.borda-alpha *::after {
  text-decoration: none;
  list-style: none;
  color: initial;
}
#cabecalho .conteiner .menu.superior .nivel-um .nivel-dois.borda-alpha li {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cabecalho .conteiner .menu.superior .nivel-um .nivel-dois.borda-alpha li:nth-child(2n) {
  border-top: 1px solid #0000000f;
}
.secao-banners .conteiner div:last-of-type img {
  border-radius: 8px;
}

body {
  background-color: initial;
}

/* The release section title */
/* The indeed list of products */
/* List of products section */
#corpo .conteiner .row-fluid {
  margin: 0;
}
#corpo .conteiner .row-fluid #listagemProdutos.borda-alpha {
  border: none;
}
#corpo .conteiner .row-fluid #listagemProdutos.borda-alpha .titulo-categoria {
  all: revert;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #0000000f;
}
#corpo .conteiner .row-fluid #listagemProdutos.borda-alpha .titulo-categoria strong::before {
  content: "";
  opacity: 0.3;
  margin-right: 5%;
}
#corpo .conteiner .row-fluid #listagemProdutos.borda-alpha .titulo-categoria strong::after {
  content: "";
  opacity: 0.3;
  margin-left: 5%;
}
#corpo .conteiner .row-fluid #listagemProdutos ul .listagem-linha {
  padding-top: 40px;
}
#corpo .conteiner .row-fluid #listagemProdutos ul .listagem-linha .span3 .listagem-item {
  box-shadow: none;
  border: none;
  background-color: none;
}
#corpo .conteiner .row-fluid #listagemProdutos ul .listagem-linha .span3 .listagem-item .info-produto {
  all: revert;
  text-align: center;
  padding: 0 10px;
}
#corpo .conteiner .row-fluid #listagemProdutos ul .listagem-linha .span3 .listagem-item .info-produto a {
  max-height: 55px;
  min-height: 55px;
  overflow: hidden;
  margin: 10px 0;
}
#corpo .conteiner .row-fluid #listagemProdutos ul .listagem-linha .span3 .listagem-item .info-produto > div {
  border-top: 1px solid #0000000f;
  padding: 20px 0;
  margin: 10px 0;
}
#corpo .conteiner .row-fluid #listagemProdutos ul .listagem-linha .span3 .listagem-item .info-produto > div strong {
  font-size: 1.3rem;
}
#corpo .conteiner .row-fluid #listagemProdutos ul .listagem-linha .span3 .listagem-item:hover {
  outline: none;
}
#corpo .conteiner .row-fluid #listagemProdutos ul .listagem-linha .span3 .listagem-item:hover .acoes-produto {
  bottom: 32.6%;
}
#corpo .conteiner .row-fluid #listagemProdutos ul .listagem-linha .span3 .listagem-item .acoes-produto {
  border: none;
  padding: 0;
  background-color: transparent;
}
#corpo .conteiner .row-fluid #listagemProdutos ul .listagem-linha .span3:hover {
  border-radius: 5px;
  box-shadow: 0px 0px 5px #00000030;
  background-color: #c4c4c436;
}
#corpo .conteiner .row-fluid #listagemProdutos ul .listagem-linha .span3:hover .info-produto a {
  visibility: hidden;
}
#corpo .conteiner .row-fluid #listagemProdutos ul .listagem-linha .span3:hover .imagem-produto img {
  filter: contrast(0.9) opacity(0.8);
}

#rodape .links-rodape ul li {
  list-style: none;
}
#rodape .links-rodape ul li a {
  text-decoration: none;
}
#rodape .pagamento-selos .row-fluid {
  display: flex;
  flex-direction: column;
}
#rodape .pagamento-selos .row-fluid .span4.selos {
  all: revert;
}
#rodape .pagamento-selos .row-fluid .span4.selos ul {
  list-style: none;
}
#rodape .pagamento-selos .row-fluid .span4.selos span.titulo {
  display: none;
}
#rodape .pagamento-selos .pagamento {
  width: auto;
}
#rodape .pagamento-selos .pagamento .gateways-rodape {
  border: none;
}